<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>FitLog</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img src="/img/bg.png" id="sidebar-img"></div>
      <div class="list-group list-group-flush">
        <a href="home" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="overview" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="exercise" class="list-group-item active">Exercise Tracker</a>
        <a href="" class="list-group-item list-group-item-action bg-light">Nutrition Tracker</a>
      </div>
    </div>
   

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        <div><i class="fas fa-user"></i>&nbsp <%- user.email %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <a class="nav-link" href="options"> Options </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/logout"> Logout</a>
                </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
      <div class="container-fluid">
        <h2 class="mt-4">Exercise Tracker</h2>
        <div class="container-fluid">
          <div class="panel-group">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#addExrc">Add exercise</a>
                </h4>
              </div>
              <div id="addExrc" class="panel-collapse collapse">
                <div class="panel-body">
                  <form id="exerciseInputForm"  action='/exercise' method='post'>
                    <div class="form-group">
                        <label for="sel1">Type of activity:</label>
                        <select class="form-control" id="sel1" name="activity">
                          <option disabled selected value> -- select an option -- </option>
                          <option>Running</option>
                          <option>Walking</option>
                          <option>Swimming</option>
                          <option>Weightlifting</option>
                          <option>Football/Soccer</option>
                          <option>Basketball</option>
                          <option>Other</option>
                        </select>
                    </div>
            
                    <div class="form-group" id="hidden1">
                        <label for="sel2">Select exercise:</label>
                        <select class="form-control" id="sel2" name="exercisetype" value="nothing">
                            <option disabled selected value> -- select exercise -- </option>
                            <option>Squad</option>
                            <option>Deadlift</option>
                            <option>Bench pressing</option>
                            <option>Leg exercise</option>
                            <option>Upper-body exercise</option>
                        </select>
            
                        <label for="weightInput">Select weight:</label>
                        <input type="number" class="form-control" name="weight" placeholder="select weight in kg...">
                        
                        <label for="repetitionsInput">Select amount of repetitions (reps):</label>
                        <input type="number" class="form-control" name="reps" placeholder="select amount of repetitions...">
            
                        <label for="setsInput">Select amount of sets:</label>
                        <input type="number" class="form-control" name="sets" placeholder="select amount of sets...">
                    </div>
            
                    <div class="form-group" id="hidden2">
                        <label for="distanceInput">Select distance:</label>
                        <input type="number" class="form-control" name="distance" placeholder="select distance in km...">
                    </div>
                    
                    <div class="form-group">
                       <label for="descInput">Description</label>
                       <input type="text" class="form-control" name="description" placeholder="describe the exercise..." required>
                    </div> 
                    <div class="form-group">
                            <label for="durationInput">Duration of exercise</label>
                            <input type="time" class="form-control" name="duration" placeholder="Enter duration..." required>
                    </div> 
                    <div class="form-group">
                        <label for="dateInput">Date</label>
                        <input type="date" class="form-control" name="date" placeholder="Date..." required>
                    </div> 
            
                        <button type="submit" class="btn btn-primary">Add</button>
                </form>

                </div>
               </div>
              </div>
             </div>
            </div>
          </div>
      </div>
      
        <br><br>
        <div class="container-fluid">
          <table id="table_id" class="display">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th> 
                    <th>Duration</th>
                    <th>Date</th>
                    <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <% data.forEach(function(data) { %>
                  <tr>
                      <td> <%= data.activity %> </td> <td> <%= data.description %> </td> <td> <%= data.duration %> </td> <td> <%= (data.date).toDateString() %> </td> <td><form method="POST" action="/exercise/<%= data._id %>?_method=DELETE"> <button class="btn btn-danger" type="submit">Delete</button></form> </td>
                  </tr> 
                  <% }); %>  
              </tbody>
          </table>
        </div>
      </div> 
      <br>
    </div>
  </div>

 
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


<!--Form control -->
<script>
$('#hidden1').hide()
$('#hidden2').hide()
$('#sel1').change(function () {
    var value = this.value;
    if (value=="Weightlifting") {
    $('#hidden1').show();
  } else {
    $('#hidden1').hide()
  }
});

$('#sel1').change(function () {
    var value = this.value;
    if (value=="Running" || value=="Walking") {
    $('#hidden2').show();
  } else {
    $('#hidden2').hide()
  }
});
</script> 


<!--Datatables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>$(document).ready( function () {
  $('#table_id').DataTable();
} );
</script>


</body>
</html>